@use "../utilities/mixins";

.card-proyectos-simulados {
  min-height: 550px;
  max-width: 100%;
  width: 100%;
  transition: transform 0.3s ease;
  margin: 20px;
  @include mixins.flex(column, center, center);

  &:hover {
    transform: scale(1.02);
  }
}

.card-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: variables.$title-color;
}
