@use "../utilities/mixins";
@use "../utilities/variables";

%card-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: variables.$font-weight-semibold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: variables.$title-color;
}

.card-title {
  @extend %card-title;
}
