@use "../utilities/variables";
@use "../utilities/media";
@use "../utilities/mixins";

.navbar {
  .boton-menu-movil {
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
  }

  .navbar-toggler-icon {
    display: none;
  }
}

.barra-navegacion {
  background-color: variables.$background-color;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid variables.$accent-color;

  @include media.tablet {
    padding: 0.8rem 1.5rem;
  }

  @include media.cel {
    padding: 0.5rem 1rem;
  }
}

.contenido-navegacion {
  @include mixins.flex(row, center, center);
  flex-basis: 100%;

  @include media.tablet {
    @include mixins.flex(row, space-between, center);
  }

  @include media.cel {
    flex-direction: column;
  }
}

.menu-navegacion {
  @include mixins.flex(row, space-between, center);
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: variables.$background-color;
  border-bottom: 1px solid variables.$secondary-color;

  @include media.tablet {
    flex-wrap: wrap;
  }

  @include media.cel {
    flex-direction: column;
    border-bottom: none;
  }
}

.item-menu {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  list-style: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$accent-color;
  }

  @include media.tablet {
    margin: 8px 6px;
  }

  @include media.cel {
    margin: 5px 0;
  }
}

.link-menu {
  padding: 0 15px;
  color: variables.$p-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: variables.$primary-color;
    text-decoration: underline;
  }

  @include media.tablet {
    padding: 0 10px;
  }

  @include media.cel {
    padding: 0 8px;
  }
}

.texto-menu {
  font-size: 16px;
  text-align: center;
  font-family: "Nunito", sans-serif;

  @include media.tablet {
    font-size: 15px;
  }

  @include media.cel {
    font-size: 14px;
  }
}

.logo-proyectos {
  height: 80px;
  width: auto;
  margin-right: 16px;
  margin-top: -10px;
  object-fit: contain;
  border-radius: 4px;

  @include media.tablet {
    height: 70px;
    margin-right: 12px;
  }

  @include media.cel {
    height: 60px;
    margin-right: 8px;
  }
}

.icono-hamburguesa {
  background-image: url("../assets/icono-menu.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 6px;
}
