@use "../utilities/variables";
@use "../utilities/mixins";

.navbar {
  .boton-menu-movil {
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
  }

  .navbar-toggler-icon {
    display: none;
  }
}

.barra-navegacion {
  background-color: variables.$background-color;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid variables.$accent-color;
}

.contenido-navegacion {
  @include mixins.flex(row, center, center);
  flex-basis: 100%;
}

.menu-navegacion {
  @include mixins.flex(row, space-between, center);
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: variables.$background-color;
  border-bottom: 1px solid variables.$secondary-color;
}

.item-menu {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  list-style: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$accent-color;
  }
}

.link-menu {
  padding: 0 15px;
  color: variables.$p-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: variables.$primary-color;
    text-decoration: underline;
  }
}

.texto-menu {
  font-size: 16px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.logo-proyectos {
  height: 80px;
  width: auto;
  margin-right: 16px;
  margin-top: -10px;
  object-fit: contain;
  border-radius: 4px;
}

.icono-hamburguesa {
  background-image: url("../assets/icono-menu.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 6px;
}
