$p-size: 18px;
$p-color: #333333;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$primary-color: #1b4f46;
$secondary-color: #4e8374;
$accent-color: #8ec6b8;
$accent-color-hover: #5aa199;

$background-color: #f9fafb;
$title-color: #1e2a38;
