// TIPOGRAFÍAS
$p-size: 18px;
$p-color: #333333;

// PALETA DE COLORES
$primary-color: #1b4f46;
$accent-color: #8ec6b8;
$background-color: #f9fafb;
$secondary-color: #4e8374;
$title-color: #1e2a38;
$divider-color: #bce3d7;

// COLOR PRINCIPAL DE LA MARCA: VERDE OSCURO INSITUTCIONAL
// $primary-color: #1b4f46;
